@{
    ViewData["Title"] = "О нас";
}
    <div class="col-md-6">
        <h3 style="padding-top:20%; text-align:justify">"Oldboy" это мужская парикмахерская с демократичными ценами и отличным качеством. Наш основной девиз "Экономим на понтах, а не на качестве", поэтому у нас нет бесплатного виски и мы не моем голову 6 раз. Только стрижки, качественно и быстро. Это мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.</h3>
    </div>
    <div class="col-md-6">
        <img src="~/images/pRzhVWGLd9k.webp" />
    </div>